.vertical-line {
    border-left: #E14D2A solid;
    border-width: 1px;
}

.cancel-file-btn {
    color: #0F4C75;
    border-color: #0F4C75;
}

.cancel-file-btn:hover {
    color: white;
    background-color: #0F4C75;
}