:host ::ng-deep {
    .user-table {
        .p-datatable-thead {
            border-bottom: #E14D2A solid;
            tr th {
                background-color: white;
                color: #0F4C75;
                i {
                    color: #0F4C75;
                }
            }
        }
        .p-datatable-tbody {
            tr {
                border-bottom: #0F4C7550 solid;
                td {
                    color: #0F4C75;
                }
            }
        }
    }
    .users-dialog {
        width: 400px;
        max-width: 90vw;
        background-color: white;
        .p-dialog-header, .p-dialog-content {
            color: #0F4C75;
        }
        .input-autocomplete, .input-dropdown {
            width: 100%;
            border: none;
            border-radius: 0;
            border-bottom: #E14D2A solid;
            .p-inputtext {
                font-family: "Barlow";
                color: #0F4C75;
                border-radius: 0;
                border: none;
                background-color: transparent;
                font-size: 1rem;
                font-weight: normal;
                padding: 1px 2px;
            }
            .p-inputtext::placeholder {
                color: #0f4c7557;
            }
            .p-button, .p-dropdown-trigger {
                background-color: transparent;
                color: #0F4C75;
                border-radius: 0;
                border: none;
                padding: 1px 2px;
                width: 2rem;
            }
            .p-button:focus, .p-dropdown-trigger:focus, .p-inputtext:focus {
                box-shadow: none;
            }
            .p-autocomplete-panel, .p-dropdown-panel {
                border-radius: 0;
                ul li {
                    font-family: "Barlow";
                    color: #0F4C75;
                }
                ul .p-highlight {
                    color: #E14D2A;
                    background-color: #0f4c750c;
                }
            }
        }
        .input-dropdown:focus, .input-dropdown:active, .input-dropdown:hover {
            box-shadow: none;
        }
    }
}